alembic
appdirs
argon2-cffi
async-generator
attrs
backcall
bleach
certifi
cffi
chardet
cryptography
cycler
decorator
defusedxml
distlib
entrypoints
filelock
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
Mako
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
packaging
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
python-editor
pyzmq
qtconsole
QtPy
requests
ruamel.yaml
ruamel.yaml.clib
scipy
Send2Trash
six
SQLAlchemy
terminado
testpath
tornado
traitlets
urllib3
virtualenv
wcwidth
webencodings
widgetsnbextension
zipp